.grid-container {
  display: inline-block;
}

.sketch-grid {
  display: grid;
  grid-template-columns: repeat(16, 40px);
  grid-template-rows: repeat(16, 40px);
  grid-gap: 2px;

  padding: 10px;
  background-color: grey;

}

.sketch-grid-cell {
  background-color: white;
}

.colored-cell {
  background-color: black;
}
