body {
  margin: 10px;
  font-family: sans-serif, arial;
}

.grid-container {
  margin-top: 10px;
}

.grid {
  display: inline-block;
}

.sketch-grid {
  display: grid;
  padding: 10px;
  background-color: grey;
}

.sketch-grid-cell {
  background-color: white;
}
